#Циско и ФТД 

import argparse
import getpass
import netmiko

# Команда, которую необходимо выполнить
COMMAND = 'show access-list'

# Определение аргументов командной строки
parser = argparse.ArgumentParser(description='Collect ACL from Cisco ASA or FTD')
parser.add_argument('host', help='ASA or FTD IP address or hostname')
parser.add_argument('-l', '--login_name', help='Username for login')
parser.add_argument('-o', '--output_file', help='Output file name')
args = parser.parse_args()

# Определение имени пользователя
if args.login_name:
    username = args.login_name
elif '@' in args.host:
    username, args.host = args.host.split('@')
else:
    username = input('Username: ')

# Определение имени файла вывода
if not args.output_file:
    args.output_file = f'{username}@{args.host}'

# Определение типа устройства на основе IP-адреса или имени хоста
device_type = 'cisco_asa' if 'asa' in args.host.lower() else 'cisco_ftd'

# Параметры подключения к устройству
remote = {
    'device_type': device_type,
    'ip': args.host,
    'username': username,
    'password': getpass.getpass()  # Безопасный ввод пароля
}

# Установка соединения с устройством
connect = netmiko.ConnectHandler(**remote)

# Отправка команды и сохранение вывода в файл
acl = connect.send_command(COMMAND, read_timeout=6000)

with open(args.output_file, 'w') as f:
    f.write(acl)

# Закрытие соединения
connect.disconnect()

print(f'Результат выполнения команды сохранен в файле: {args.output_file}')
